$white: #fff;
$black: #000;
$background: #040f29;

$light-red: rgb(250, 200, 200);
$red: rgb(110, 38, 38);
$light-green: rgb(200, 250, 201);
$green: rgb(46, 110, 38);

$ascent-color: #392fa5;
$light-ascent-color: lighten(#392fa5, 20%);

$light-background-color: #13295b;
$very-light-background-color: lighten(#13295b, 20%);

$font-size-regular: 1.6rem;
$font-size-medium: 2rem;
$font-size-large: 2.4rem;
$font-size-x-large: 2.8rem;
$font-size-xx-large: 3.2rem;